{% assign easylockdownON = false %}
{% assign easylockdownRedirectURL = '' %}
{% assign easylockdownPage404Title = '' %}
{% assign easylockdownPage404Message = '' %}
{% assign easylockdownSuperPage = false %}
{% if template == blank or template == 'customers/login' or template == 'customers/activate_account' or template == 'customers/reset_password' %}{% assign easylockdownSuperPage = true %}{% endif %}

{% assign easylockdownNow = 'now' | date:'%s' %}
{% assign easylockdownPlacedOrder = customer.orders.first.created_at | date:'%s' %}
{% assign easylockdownOldestPlacedOrder = customer.orders.last.created_at | date:'%s' %}
{% assign easylockdownDateDifference = easylockdownNow | minus: easylockdownPlacedOrder %}

{% assign easylockdownLocaleRootUrl = '' %}
{% for locale in shop.published_locales %}
  {% if shop.locale == locale.iso_code %}
    {% unless locale.primary %}{% assign easylockdownLocaleRootUrl = locale.root_url %}{% endunless %}{% break %}
  {% endif %}
{% endfor %}
{% for tag in customer.tags %}
{% if tag == 'Restricted Users' %}{% assign easylockdownTagsNotLocked1 = true %}{% endif %}
{% endfor %}

{% unless easylockdownON or easylockdownSuperPage or template == 'customers/register' %}
{% assign easylockdownLockedContent = false %}
{% assign easylockdownHiddenContent = false %}
{% if template contains "collection" or template contains "product" %}{% if product.collections %}{% for c in product.collections %}{% if c.id == 171817402499 %}{% assign easylockdownLockedContent = true %}{% break %}{% endif %}{% endfor %}{% endif %}{% endif %}
{% if template contains "collection" or template contains "product" %}{% if collection %}{% if collection.handle == 'pure-encapsulations' %}{% assign easylockdownLockedContent = true %}{% endif %}{% endif %}{% endif %}
{% if easylockdownLockedContent %}
{% unless customer %}
{% assign easylockdownON = true %}
{% capture easylockdownPage404Title %}Page not found{% endcapture %}
{% capture easylockdownPage404Message %}<p>Sorry, we couldn't find this page.</p>{% endcapture %}
{% capture easylockdownRedirectURL %}https://myvillagegreen.com/pages/practitioner-pure-encapsulations{% endcapture %}
{% else %}
{% unless easylockdownTagsNotLocked1 %}{% assign easylockdownON = true %}{% endunless %}
{% if easylockdownON %}
{% assign easylockdownON = true %}
{% capture easylockdownPage404Title %}Page not found{% endcapture %}
{% capture easylockdownPage404Message %}<p>Sorry, we couldn't find this page.</p>{% endcapture %}
{% capture easylockdownRedirectURL %}https://myvillagegreen.com/pages/practitioner-pure-encapsulations{% endcapture %}
{% endif %}
{% endunless %}
{% endif %}
{% endunless %}

{% unless easylockdownON or easylockdownSuperPage or template == 'customers/register' %}
{% assign easylockdownLockedContent = false %}
{% assign easylockdownHiddenContent = false %}
{% if template contains "collection" or template contains "product" %}{% if product.collections %}{% for c in product.collections %}{% if c.id == 171817992323 or c.id == 171825463427 or c.id == 171816124547 or c.id == 171822743683 or c.id == 171820351619 or c.id == 171817959555 or c.id == 171815665795 or c.id == 171815338115 or c.id == 171815075971 or c.id == 171820286083 or c.id == 217221103765 %}{% assign easylockdownLockedContent = true %}{% break %}{% endif %}{% endfor %}{% endif %}{% endif %}
{% if template contains "collection" or template contains "product" %}{% if collection %}{% if collection.handle == 'xymogen' or collection.handle == 'designs-for-health' or collection.handle == 'douglas-labs' or collection.handle == 'miller-pharma' or collection.handle == 'next-to-nature-1' or collection.handle == 'tyler-integrative-therapeutics' or collection.handle == 'biotics-research' or collection.handle == 'next-to-nature' or collection.handle == '4-life' or collection.handle == 'apex-energetics' or collection.handle == 'ortho-molecular' %}{% assign easylockdownLockedContent = true %}{% endif %}{% endif %}{% endif %}
{% if easylockdownLockedContent %}
{% unless customer %}
{% assign easylockdownON = true %}
{% capture easylockdownPage404Title %}Page not found{% endcapture %}
{% capture easylockdownPage404Message %}<p>Sorry, we couldn't find this page.</p>{% endcapture %}
{% capture easylockdownRedirectURL %}https://myvillagegreen.com/pages/practitioner-brands{% endcapture %}
{% else %}
{% unless easylockdownTagsNotLocked1 %}{% assign easylockdownON = true %}{% endunless %}
{% if easylockdownON %}
{% assign easylockdownON = true %}
{% capture easylockdownPage404Title %}Page not found{% endcapture %}
{% capture easylockdownPage404Message %}<p>Sorry, we couldn't find this page.</p>{% endcapture %}
{% capture easylockdownRedirectURL %}https://myvillagegreen.com/pages/practitioner-brands{% endcapture %}
{% endif %}
{% endunless %}
{% endif %}
{% endunless %}

{% if easylockdownON %}
  <meta name="robots" content="noindex,nofollow">
  <script type='text/javascript'>
    var redirectTo = '{{ easylockdownRedirectURL }}';
    if( redirectTo && !(window.frameElement && window.frameElement.id && window.frameElement.id == 'theme-editor-iframe') ) {
      if( redirectTo == 'login' ) redirectTo = '{{ easylockdownLocaleRootUrl }}/account/login?checkout_url=' + window.location.href;
      window.location.href = redirectTo;
    }
  </script>
{% endif %}