


<script type="text/javascript">
  var instant_brand_slider_options = {"enabled": true, "slider_display": 4, "slider_autoplay_enabled": true};
</script>

{% assign sliderheader = "<h4>Our Favourite Brands</h4>" %}
{% assign sliderincludetext = true %}
{% assign headerformat = "h4" %}
{% assign imgwith = "40px" %}
{% assign fontsize = "12px" %}
{% assign salebanner = "instant-brand-sale1.png" | asset_img_url %}
{% assign outofstockvendors = true %}
{% assign bshowsale = false %}
{% assign salebannersize = "16px" %}
{% assign bmatchcollectionURL = false %}
{% assign bshowimages = false %}
{% assign brandformat = "horizontal" %}
{% assign pagecolumns = 4 %}

{% assign fitbrandimage = false %}
{% assign bshowtext = true %}
{% assign headerstyle = "text-decoration: underline;" %}
{% assign addslidertopage = true %}
