<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.75 34.75">
  <defs>
    <style>
      .cls-1{fill:transparent;stroke:#bbb;}.cls-1,.cls-2{stroke-miterlimit:10;}.cls-2{fill:none;stroke:#323232;stroke-width:2px;}
    </style>
  </defs>
  <title>svg-next-arr</title>
  <g id="Layer_2" data-name="Layer 2">
    <g id="Layer_1-2" data-name="Layer 1">
      <circle class="cls-1" cx="17.38" cy="17.37" r="16.87"/>
      <path class="cls-2" d="M14.37,12.08l6,6m0-1.41-6,6"/>
    </g>
  </g>
</svg>