<div class="row">
  {% if settings.display_sidebar_cat_page %}
  {% include 'collection-sidebar' %}
  {% endif %}
  <div class="block-row col-main {% if settings.display_sidebar_cat_page %}col-xs-9{% endif %}">
    {% section 'collection-header' %}
    
    {% comment %}
      The contents of the collection.liquid template can be found in /sections/collection-template-alternate.liquid
    {% endcomment %}
    
    {% section 'collection-template-alternate' %}

  </div>
</div>
