<!-- Bold: Memberships (index) -->
{% include 'bold_mem_helper' with 'index' %}
<!-- end Bold code -->
{{ content_for_index }}

<div class="elfsight-sapp-8fded427-ea33-47b6-9b68-29fffc4faaea" style="display: flex; justify-content: center;"></div>
{% render 'aio_product_recommendation' %} {% render 'aio_product_recommendation' %} {% render 'aio_product_recommendation' %}